body {
  font-family: Plus Jakarta Sans;
  background: #0f0f14;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url("../images/basquiat-portrait-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 240px 0;
}

header h1 {
  font-size: 128px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0em;
}

header h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;
}

header h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: center;
}

header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb5c8d;
  color: #fff;
  border-radius: 5px;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 64px;
}

footer {
  color: #fff;
}

@media (max-width: 800px) {
  header {
    margin-top: 50px;
    padding: 40px 0;
    background-size: contain;
  }

  header h1 {
    font-size: 58px;
  }

  header h2 {
    font-size: 28px;
  }
}
